body {
	background-image: url("hannah2.jpg");
	text-align: center;
	color: #FFF;
	font-family: serif;
	background-attachment:fixed;
	background-repeat: no-repeat;
}	
h1{
	border: 10px solid #4CB2C7 ;
	border-radius:10%;
	font-size:1000%;
	background-image : -webkit-linear-gradient(#4CB2C7, #FFF);
	margin: 50px 200px;
	margin-top:250px;
	padding: 20px;
	
}	
h2{
	font-size: 500%;
}
