body {
	background-image: url("senan.jpg");
	text-align: center;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	background-attachment:fixed;
  	background-size: 100% 100%;
        background-repeat: no-repeat;
}	
h1{
	border: 5px solid #4CB2C7 ;
	border-radius:20%;
	font-size:1000%;
	background-image : -webkit-linear-gradient(#4CB2C7, #FFF);
	margin: 50px 200px;
	margin-top:250px;
	padding: 20px;
	display: inline-block;
}	
h2{
	font-size: 500%;
}
header{
	width:100%;
	height:20%;
	background-image: -webkit-linear-gradient(#7ca6ea,#511082);
}
